
/* //sticky header */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.skyline{
    position: absolute;
    max-width: 150%;
    height: 100%;
  
}

.top-container {
  background-color: black;
  padding-top: 30;
  text-align: center;

}

.header {
  padding: 8px 20px;
  background: black;
  color: lightslategrey;
  font: sans-serif;
  font-size: 15px;
  text-align: left;

}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px 20px;
}

.sticky + .content {
  padding-top: 102px;
}



.vertical-menu {
    width: 80%; /* Set a width if you like */
    padding-left: 120px;
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: black; /* Add a green color to the "active/current" link */
    color: white;
  }